/* styles/6-components/category.css */

.category {
    /* width: 384px; */
    text-decoration: none;
}

.category__image{
    aspect-ratio: 3/2; /* proporcion entre ancho y alto */
    object-fit: cover; /* la imagen cubre todo el contenedor SIN DEFORMARLA */
    border-radius: var(--rounded-xl); /* 12px bordes redondeados */
    margin-bottom: var(--space-4);      /*16px*/
}

.category__title {
    color: var(--foreground);
    margin-bottom: var(--space-2);  /*8px*/

    font-weight: var(--font-semibold);  /*600*/
    font-size: var(--font-size-4);              /*16px*/
    line-height: var(--leading-6);            /*24px*/  
}

/*  ............. */
.category__description {
    font-weight: var(--font-normal);   /*400*/
    font-size: var(--font-size-3-5);    /*14px*/
    line-height: var(--leading-5);   /*20px*/
    color: var(--muted-foreground);
}



@media (min-width: 40rem) {
    .category {
        flex: 1;
    }
    .category__image {
        aspect-ratio: 4/5;
    }
}

