.form-field {
    display: flex;
    flex-direction: column;
    gap: var(--space-2); 
}

/* <div class="form-field">
    <label for="email" class="label">Correo electrónico</label>
    <input type="email" id="email" name="email" class="input input--checkout">
</div> */

@media (min-width: 40rem) {
    .form-field {
        width: 100%;
    }
}