
.header {
position: sticky;
        top: 0;
        z-index: 50;
        border-bottom: 1px solid var(--border);
        background-color: var(--background);
}
.header__topbar {
        background-color: var(--black);
}
.header__auth-links {
    padding-block: var(--space-2-5); /* 10px */
    display: flex;
    justify-content: flex-end;
    gap: var(--space-4);  /* 16px */
    font-size: var(--font-size-3-5);
    line-height: var(--leading-5);
    align-items: center;
}
.header__auth-link {
    color: var(--white);
    
    font-weight: var(--font-medium);
    text-decoration: none;
}
