.main-footer {
    height: 348px;
    border-top: 1px solid hsla(240, 10%, 86%, 1);
}

.main-footer__top-content {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: var(--space-8);
}
/**/
.main-footer__links-groups { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--space-4);
}






.main-footer__content {
    height: 68px;
    padding-block: var(--space-6);
    border-top: 1px solid hsla(240, 10%, 86%, 1);
}

.main-footer__copyright {
    font-weight: var(--font-normal);
    font-size: var(--font-size-3-5);
    line-height: var(--leading-5);
    /* centrado */
    text-align: center;
    color: var(--muted-foreground);
}


@media (min-width: 40rem){
    .main-footer__links-groups {
        /* En tablet forzamos una sola fila horizontal */
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}
@media (min-width: 64rem) {
    .main-footer__top-content {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between; 
    }
    .main-footer__links-groups {
        max-width: 736px;
        width: 100%;
    }
}