
.main-nav {
        grid-area: nav;
        align-self: center;
}

.main-nav__list {
        list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem; /*48px*/
}

.m-n__item {
    /* margin-block: 22px; */
}