.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--space-12);
    border-bottom: 1px solid hsla(240, 10%, 86%, 1);
}

.main-header__logo {
    min-height: var(--space-10);
    width: 160px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header__icons {
    /* width: var(--space-10); */
    height: var(--space-10);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header__icons-group {         /*Hacer tipo hidden en otras pag. que no sean login o signup*/
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-2); 

    padding-right: var(--space-2);
}

.main-header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--space-10);
    height: var(--space-10);
    padding: var(--space-2);
}
.main-header__icon img {
    object-fit: cover;
}

.main-header__icon--ultimo {
    position: relative; 
    margin-left: var(--space-2);
}
.main-header__icon--ultimo::before {
    content: ""; 
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%); /* centrar verticalmente */
    
    width: 1px;
    height: var(--space-6);
    background-color: hsla(240, 10%, 86%, 1); /* El color que prefieras */
}

/*  PARA 3ra fila de main header, seccion de category-catalog , product  */

.main-header--centrado {
    display: flex;
    justify-content: center;
    border: none;
}


@media (min-width: 40rem) {
    /*  PARA ocultar header de 3 fila abajo */
    .main-header--hidden {
        display: none;
    }
    .main-header {
        border: none;
        height: var(--space-16);
    }
    .main-header__icons-group {         /*Hacer tipo hidden en otras pag. que no sean login o signup*/
        gap: var(--space-3);              /*MI PROPUESTA DE 12PX XD*/
        padding-right: var(--space-3); 
    }
    .main-header__icon--ultimo {
        margin-left: var(--space-3); 
    }
    .main-header__icon--ultimo::before {
        left: -12px;        
    }
}

@media (min-width: 64rem) {
    .main-header__icons-group {   
        gap: var(--space-4);
        padding-right: var(--space-4); 
    }
    .main-header__icon--ultimo{
        margin-left: var(--space-4); 
    }
    .main-header__icon--ultimo::before {
        left: -16px;        
    }
}