.nav-item{
    text-decoration: none;

    color: var(--muted-foreground);
    font-size: var(--font-size-3-5);
    font-weight: var(--font-medium);
    display: block;
    line-height: 20px;
    /* margin-block: 22px; */
    padding-inline: var(--space-3);
    padding-block: 14px;
    transition: background-color 0.2s;
}

.nav-item:hover {
    background-color: var(--accent-background);
}