

.price-filter {
    max-width: var(--width-sm); /*384px*/
    display: flex;
    flex-direction: column;
    gap: 24px;

    border: none;

    min-width: 0;
}

.price-filter__title {
    font-weight: 500;
    font-size: var(--font-size-3-5);
    line-height: var(--leading-5);

    /* Segun figma: components y pagina de category-catalog  a diferencia de Deskopt*/
    margin-bottom: 24px;
}

.price-filter__labels {
    display: flex;
    gap: 24px;
}

.price-filter__field {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);

    min-width: 0;
}


.price-filter__label {
    font-weight: 500;
    font-size: var(--font-size-3-5);
    line-height: 100%;
}


@media (min-width: 64rem) {
    .price-filter {
        max-width: var(--space-64); /*256px*/
    }

    /* Segun figma: components y pagina de category-catalog  24px, segun desktop 40px */
    .price-filter {
        gap: 40px;
    }
}