.products {

}

.products__info {
    /* margin: 64px 0 40px 0; */
    padding-bottom: 40px;
    max-width: 768px;
}

.products__category {
    font-weight: 700;
    font-size: var(--font-size-9);
    line-height: var(--leading-10); /*40px*/
    color: var(--foreground);

    margin-bottom: 16px;
}

.products__description {
    font-weight: 400;
    font-size: var(--font-size-3-5);
    line-height: var(--leading-5); /*20px*/

    color: var(--muted-foreground);
}


.products__content {
    padding-top: 40px;
    /* padding-inline: 32px; */

    display: flex;
    flex-wrap: wrap;
    gap: var(--space-8);/*32px*/
}

/* --- 3. Desktop (3 columnas de 15rem mín) --- */
@media (min-width: 64rem) {
    /* .products__info {
        padding-block: 64px 32px;
    } */
    .products__content {
        flex-wrap: nowrap;
        /* margin-block: 32px 64px; */
    }
}

