/*  COMPONENTE: product */
.product {
    text-decoration: none;
    /* max-width: 448px; */
    max-width: var(--width-md);
    width: 100%;

    border-radius: var(--rounded-xl);
    border: 1px solid hsla(240, 10%, 86%, 1);
    overflow: hidden;
    margin: 0 auto;
}

.product__media {
    background-color: var(--muted-background);
    position: relative;
    display: flex;      
}

.product__badge {
    position: absolute;
    right: 0;
    padding: 4px 8px;
    background-color: var(--primary-background);
    border-bottom-left-radius: var(--rounded-xl);

    color: var(--primary-foreground);
    font-weight: var(--font-medium);
    font-size: var(--font-size-3-5);
    line-height: var(--leading-5);

}
.product__image {
    aspect-ratio: 3/4; /* proporcion entre ancho y alto */
    object-fit: contain;
    margin: auto;
    display: block;
}

.product__info {
    /* height: 132px; */
    padding: var(--space-4);

    display: flex;
    flex-direction: column;
    gap: var(--space-2);

    font-size: var(--font-size-3-5);
    line-height: var(--leading-5);

    color: var(--foreground);
}

.product__title {
    font-weight: var(--font-medium);
}

.product__description {
    font-weight: var(--font-normal);
    color: var(--muted-foreground);
}

.product__price {
    font-weight: var(--font-medium);
    font-size: var(--font-size-4);
    line-height: var(--leading-6);
}