/* COMPONENTE: products-grid */

.products-grid {
    display: grid;
    gap: var(--space-8);

    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    flex-grow: 1;
}

/*     Tablet 2 columnas de 15rem mín --- */
@media (min-width: 40rem) {
    .products-grid {
        gap: 40px 32px;     /*segun Figma: Desktop*/
    }
}

/*     Desktop 3 columnas de 15rem mín --- */
