.quality-promise {
    background-color: var(--muted-background);
}

.quality-promise__titulo {
    font-weight: var(--font-bold);
    font-size: var(--font-size-6);
    line-height: var(--leading-8);
    text-align: center;

    margin-bottom: 48px;
} 

.quality-promise__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}


@media (min-width: 40rem) {
    .quality-promise__items {
        /* auto-fit: crea tantas columnas como quepan respetando el minmax */
        /* minmax(208px, 1fr): mínimo 208px, máximo reparte el espacio (1fr) */
        grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
        justify-content: center;
    }
}

/* 3. Desktop  */
@media (min-width: 64rem) {
    .quality-promise__items {
        /* Forzamos 4 columnas exactas de 1fr para que se vea en una sola fila */
        grid-template-columns: repeat(4, 1fr);
    }
}