
.quality-item {
    text-align: center;
}

.quality-item__icon {
    
    display: flex;         
    justify-content: center; 
    align-items: center;    
    margin-inline: auto;    
    margin-bottom: 24px;
    width: 64px;
    height: 64px;
}

.quality-item__title {
    font-weight: var(--font-medium);
    font-size: var(--font-size-3-5);
    line-height: var(--leading-5);

    margin-bottom: 8px;
}

.quality-item__description {
    font-weight: var(--font-normal);
    font-size: var(--font-size-3-5);
    line-height: var(--leading-5);
    color: var(--muted-foreground);
}