/* styles/5-objects/objects.css */

/* Podríamos crear un archivo css para cada objeto pero por el momento vamos a definir todos los objetos en un solo archivo */

/*    reglas CSS que definen la estructura y el diseño (layout) de COMPONENTES REUTILIZABLES y abstractos en tu interfaz de usuario (UI).
    La capa Objects te permite construir el "esqueleto" de los patrones de diseño reutilizables, que luego serán "vestidos" con estilos visuales en la capa Components. 

    Siempre se aplican a través de selector de clases CSS. 
*/

.container {
  --padding: var(--space-4);      /*16*/
 
  padding-inline: var(--padding); /* 16px al lado izquierdo y derecho*/
  max-width: var(--width-7xl);    /* 1280px de ancho  */
  margin-inline: auto;            /* centra el contenedor horizontalmente */
}
 
@media (min-width: 40rem) {       /* pantalla mayor a 640px */
  .container {
    --padding: var(--space-6);    /*24px*/
  }
}
 
@media (min-width: 64rem) {       /* pantalla mayor a 1024px */
  .container {
    --padding: var(--space-8);    /*32px*/
  }
} 



.section {
  --padding-section: var(--space-12);    /*48px*/
  padding-block: var(--padding-section);
}

@media (min-width: 40rem) {       /* pantalla mayor a 640px */
  .section {
    --padding-section: var(--space-16);    /*64px*/
  }
}
 
@media (min-width: 64rem) {       /* pantalla mayor a 1024px */
  .section {
    --padding-section: var(--space-24);    /*96px*/
  }
} 


.section-sm {
  --padding-section-sm: var(--space-12);    /*48px*/
  padding-block: var(--padding-section-sm);
}

@media (min-width: 40rem) {       /* pantalla mayor a 640px */
  .section-sm {
    --padding-section-sm: var(--space-14);    /*56px*/
  }
}
 
@media (min-width: 64rem) {       /* pantalla mayor a 1024px */
  .section-sm {
    --padding-section-sm: var(--space-16);    /*64px*/
  }
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}